.modal {
  padding: 20px 30px;
  max-width: 600px;
  width: 100%;
  // min-height: 100%;
  background: $whiteBg;
  box-shadow: 0px 0px 10px 0px $darkGray;
  border-radius: $borderRad;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: inline-block;
  @media screen and (max-width: 660px) {
    top: 50%;
    max-width: 660px;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .error__add {
    font-size: $textSize12;
    color: red;
    opacity: 0.8;
    display: none;
  }
  &__header {
    @include flex();
    margin-bottom: 20px;

    &-add {
      background-color: $darkGray !important;
      color: $whiteBg;
      padding: 15px 50px;
      border: 1px solid transparent;
      border-radius: 15px;
      font-size: $textSize12;
      transition: $transition;

      &:hover {
        background: $darkGrayHover;
      }
    }

    &-cancel {
      background: none;
      border: 1px solid transparent;
      font-size: $textSize12;
      color: $darkGray;
    }
  }

  &__body {
    .form {
      @include flex(normal);
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
      width: 100% !important;
      &__header-title {
        margin-bottom: 5px;
      }

      &__header-input {
        // display: block;
        width: 100% !important;
        height: 40px;
        border: 1px solid transparent;
        border-radius: 10px;
        background: $bgcolor;
        font-size: $textSize12;
        font-family: "Kaushan Script", cursive;
        padding: 0 10px 0 10px;
      }

      &__body-title {
        margin-bottom: 5px;
      }
      &__body-input {
        resize: none;
        width: 100% !important;
        border: 1px solid transparent;
        border-radius: 10px;
        background: $bgcolor;
        font-size: $textSize12;
        font-family: "Kaushan Script", cursive;
        padding: 10px;
      }
    }
  }

  &__footer {
    &-title {
      margin-bottom: 5px;
    }
    &-buttons {
      @include flex(center, flex-start);
      gap: 50px;
      .button__item {
        @include flex();
        gap: 10px;
        cursor: pointer;
        padding: 5px;
        border-radius: 10px;
      }
    }
  }
}

.myModal {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
