.main {
  &__content {
  }

  &__header {
    @include flex();
  }

  &__btn {
    background: none;
    border: 1px solid transparent;
    font-size: $textSize44;
    font-weight: 400;
  }

  &__body {
    @include flex();
  }

  .checkbox {
    margin-top: 20px;
    position: sticky;

    &__type {
      @include flex();
      flex-wrap: wrap;
    }

    &__item {
      @include flex();
      gap: 5px;
      cursor: pointer;
      padding: 7px 10px;
      border-radius: $borderRad;
      user-select: none;

      &.active {
        background: red;
      }

      & p {
        font-size: $textSize12;
      }

      &:not(last-child) {
        margin: 5px;
      }
    }
    &__input {
      appearance: none;
      width: 18px;
      height: 18px;
      border: 1px solid transparent;
      border-radius: 50px;
      background: indigo;
      cursor: pointer;
      &:nth-child(1) {
        background: blue;
      }
    }

    &__hide {
      display: none;
    }
    @media screen and (min-width: 500px) {
      &__type {
        align-items: flex-start;
        flex-direction: column;
      }

      &__hide {
        @include flex();
        margin-top: 100px;
        gap: 5px;
        user-select: none;
        cursor: pointer;
      }
    }
  }
}
