.menu__modal {
  position: absolute;
  top: 50px;
  right: 25px;
  background-color: white;
  border-radius: $borderRad - 5;
  @include flex(flex-start);
  flex-direction: column;
  width: 150px;
  box-shadow: 0px 0px 10px 2px $lightGray;
  opacity: 0;
  visibility: hidden;
  transition: ease $transition;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.menu__btn {
  background: none;
  font-size: $textSize16 - 2;
  padding: 15px 20px;
  text-align: left;
  width: 100%;
  color: inherit;
  transition: $transition;
  &:hover {
    background: $lightGray;
    color: $whiteBg;
  }
}

.edit {
  border-bottom: 1px solid $lightGray !important;
  border-top-left-radius: $borderRad - 5;
  border-top-right-radius: $borderRad - 5;
}

.delete {
  border-bottom-left-radius: $borderRad - 5;
  border-bottom-right-radius: $borderRad - 5;
}
