.todo {
  max-width: 500px !important;
  width: 100%;
  background-color: $yellowBg;
  padding: 25px;
  border-radius: $borderRad;
  height: fit-content;
  position: relative;
  @include flex(normal);
  flex-direction: column;
  &.active {
    text-decoration: line-through;
  }
  &__header {
    @include flex();
    margin-bottom: 30px;
    & button {
      background: none;
      border: 1px solid transparent;
    }
  }

  &__menu {
    rotate: 90deg;
    width: 25px;
  }

  &__body {
    margin-bottom: 30px;
  }

  &__footer {
    @include flex();
  }

  &__type {
    @include flex();
    gap: 5px;
  }

  .circle {
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
  }

  label {
    position: relative;
    user-select: none;
    // @include flex();
    .checkmark_stem {
      position: absolute;
      width: 2px;
      height: 12px;
      background-color: $darkGray;
      left: 10px;
      top: 2px;
      rotate: 27deg;
      border-radius: $borderRad;
    }

    .checkmark_kick {
      position: absolute;
      width: 7px;
      height: 2px;
      background-color: $darkGray;
      left: 2px;
      top: 11px;
      border-radius: $borderRad;
      rotate: 25deg;
    }
    .checkbox__tick {
      width: 20px;
      height: 20px;
      border: 2px solid $darkGray;
      border-radius: $borderRad - 10;
      left: -25px;
      bottom: 0;
      position: absolute;
    }
    input {
      display: none;
    }
  }
}
