.todo {
  max-width: 500px !important;
  width: 100%;
  background-color: $yellowBg;
  padding: 25px;
  border-radius: $borderRad;
  height: fit-content;
  position: relative;
  @include flex(normal);
  flex-direction: column;
  &.active {
    text-decoration: line-through;
  }
  &__header {
    @include flex();
    margin-bottom: 30px;
    & button {
      background: none;
      border: 1px solid transparent;
    }
  }

  &__menu {
    rotate: 90deg;
    width: 25px;
  }

  &__body {
    margin-bottom: 30px;
  }

  &__footer {
    @include flex();
  }

  &__type {
    @include flex();
    gap: 5px;
  }

  .circle {
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
  }

  label {
    position: relative;
    user-select: none;
    &:hover input ~ .checkmark {
      background-color: #ccc;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    .checkmark {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      &:after {
        content: "";
        position: absolute;
        display: none;
      }
      &:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    input:checked ~ .checkmark {
      background-color: #2196f3;
    }
    input:checked ~ .checkmark:after {
      display: block;
    }
  }
}
