.todo {
  max-width: 500px !important;
  width: 100%;
  background-color: $yellowBg;
  padding: 25px;
  border-radius: $borderRad;
  height: fit-content;
  position: relative;
  @include flex(normal);
  flex-direction: column;
  &.active {
    text-decoration: line-through;
  }
  &__header {
    @include flex();
    margin-bottom: 30px;
    & button {
      background: none;
      border: 1px solid transparent;
    }
  }

  &__menu {
    rotate: 90deg;
    width: 25px;
  }

  &__body {
    margin-bottom: 30px;
  }

  &__footer {
    @include flex();
  }

  &__type {
    @include flex();
    gap: 5px;
  }

  .circle {
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
  }

  label {
    position: relative;
    user-select: none;
  }

  input[type="checkbox"] {
    display: none;
  }

  span {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    position: relative;
    border-radius: 5px;
  }

  input[type="checkbox"]:checked + span::before {
    position: absolute;
    content: "\2714";
    top: -2px;
    left: 3px;
  }
}
